/*======================*/
/* Reset Default Styles */
/*======================*/
.App{
  padding: 0;
  margin: 0;
}

/*=================*/
/* Utility Classes */
/*=================*/
.shed-margin-padding{
  padding: 0;
  margin: 0;
}

.not-bold{
  font-weight: normal;
}

.hidden{
  display: none !important;
}