
div.sign-in-container{
  display: flex;
  gap: 0px;
}

.get-help{
  position: absolute;
  top: 1%;
  right: 2%;
  font-family: sans-serif;
  font-size: 0.9em;
}

.get-help > a{
  color: black;
}

div.form-container{
  display: inline-block;
  width: 60%;
  padding: 0px 2em;
  max-width: 600px;
  margin: 0 auto;
  height: 60vh;
  align-self: center;
}

.form-container > h3{
  font-size: 1.3em;
  font-family: sans-serif;
  font-weight: normal;
}

.form-container > p{
  color: gray;
  font-size: 0.9em;
}

.text-field > div > input[type="text"],.text-field > div > input[type="password"]{
  height: 0.1em !important;
}

.sign-in-button{
  margin-top: 2.5em;
  padding: 0.6em 1.1em;
  font-size: 1em;
  background-color: #341E9D;
  border: none;
  color: white;
  border-radius: 3px;
  font-family: sans-serif;
  float: right;
  text-decoration: none;
}

div.separator{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 8em;
  margin-bottom: 3em;
}

.separator > .separator-item:nth-of-type(2){
  width: 100%;
  text-align: center;
}


/*======================================*/
/* Media Query For Large Tablet Devices */
/*======================================*/
@media only screen and (max-width: 950px){
  .left-nav-container{
    display: none !important;
    flex-direction: row-reverse !important;
  }

  .form-container{
    margin: 25% auto !important;
    width: 100% !important;
  }

  .get-help{
    top: 2%;
    right: 5%;
    font-family: sans-serif;
    font-size: 0.8em;
  }
}