aside.left-section{
  background-color: #341E9D;
  height: 102vh;
  overflow-y: scroll;
  left: 0;
}

.left-section > .main-menu{
  width: 100%;
}

.main-menu > .line{
  border-top: 1px dashed white;
  position: relative;
  top: 4em !important;
  width: 100%;
  border-radius: none;
  top: 6%;
  z-index: 1;
}

.main-menu > div > button{
  border: 1px dashed white;
  color: white;
  border-radius: 5px;
  padding: 0.5em 1.3em;
  background-color: #341E9D;
  position: relative;
  top: 3% !important;
  left: 10% !important;
  font-size: 1.1em;
  margin: -5% 3%;
  z-index: 4;
}

div.left-section-body{
  margin-top: 8em;
  display: grid;
}

div.dashboard{
  height: fit-content;
  width: 100%;
  background-color: #1D4CF4;
  color: white;
  margin: auto;
}

.left-section-body > .section-item{
  height: fit-content;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(29, 76, 244, 0.15);
  color: white;
  margin: 0.4em auto;
  padding: 1.2em;
  font-size: 0.9em;
}

.left-section-body > .section-item > img{
  margin-right: 1em;
  margin-bottom: -3px;
}

.left-section-body > .section-item > p{
  padding: 0;
  margin: 0;
}

.left-section-body > .section-item > ul{
  padding-left: 1.5em !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 4px;
}

.left-section-body > .section-item > ul > li{
  margin: 0.7em 0;
  padding-left: 0 !important;
  color: rgba(255, 255, 255, 0.7);
}

.left-section-body > hr{
  width: 100%;
  height: 0px;
  border: none;
  border-top:  0.7px solid rgba(255, 255, 255, 0.36);
  margin: 1.5em 0;
}