.home-container{
  width: 100%;
}


/*=================================*/
/* Begining of Hero header section */
/*=================================*/
div.hero-header{
  height: 90vh;
  width: 100%;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  background: white;
  align-items: center;
}

div.text-section{
  position: relative;
  top: -5%;
  left: 5%;
  width: 90%;
  z-index: 1;
  padding: 2em;
  border-radius: 10px;
  font-size: 1.2em;
  transition: background 500ms;
}

div.text-section:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

div.text-section > button{
  border: none;
  margin: 0 1em;
  padding: 0.7em 2em;
}

div.text-section > button:nth-of-type(1){
  background: #EF387A;
  color: white
}

div.text-section > button:nth-of-type(2){
  background: whitesmoke;
  color: #341E9D
}

div.image-section{
  width: 100%;
  height: fit-content;
}

.image-section > .laptop-img{
  position: relative;
  top: 50 !important;
  width: 90%;
}

.image-section > .tablet-img{
  position: absolute;
  top: 17% !important;
  right: -0%;
  width: 35%;
  margin-top: 9%;
}
/* End of hero header section */


/*===============================*/
/* Beging Of Get-started Section */
/*===============================*/
section.get-started{
  background-color: rgba(240, 247, 255, 0.44);
  padding: 1em 4em;
  gap: 1em;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  width: 100% !important;
  margin-top: 0;
}

div.get-started-container{
  display: none;
}

.get-started > input{
  height: 3em;
  padding: 0px 1em;
}

.get-started > button{
  height: 3em;
  border: none;
  color: white;
  background: #EF387A;
  border-radius: 3px;
}
/* End of Get-started section */




/*=================================*/
/* Begining Of Testimonial Section */
/*=================================*/
section.testimonials{
  margin-top: 3em;
  text-align: center;
  margin: 6%;
}

.testimonials > p{
  color: gray;
}

.testimonial-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  width: 100%;
  overflow-x: scroll;
}
::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

/* End Of Testimonial Section */




/*==============================*/
/* Begining Of Download Section */
/*==============================*/
section.download-section{
  width: 100%;
  margin-bottom: 5em;
}

.download-section > .download-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.smartphone-img{
  width: 100%;
  position: relative;
  top: 0;
  left: 10%;
}

.download-grid > .download-grid-right-item{
  text-align: center;
  position: relative;
  top: 20%;
  right: 0%;
  width: 100%;
  max-width: 500px;
}

.download-grid-right-item > .download-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 2em;
}

.download-button-container > button{
  width: 80%;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.download-grid-item:nth-of-type(1){
  background: red;
}
/* End of Download Section */



/*===============================================*/
/* Media Query for medium and small screen sizes */
/*===============================================*/
@media (max-width: 800px){
  div.hero-header{
    height: 70vh;
    width: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 0em;
    align-items: center;
  }

  div.text-section{
    padding: 0.7em;
    font-size: 0.9em;
    margin-top: 5em;
  }

  div.text-section > button:nth-of-type(1){
    margin: 1em 0;
    padding: 0.7em 1.5em;
  }

  div.text-section > button:nth-of-type(2){
    display: none;
  }

  div.image-section{
    width: 100%;
    text-align: center;
  }

  .image-section > .laptop-img{
    position: unset !important;
    margin: 0 auto !important;
    width: 85%;
  }

  .image-section > .tablet-img{
    position: absolute;
    top: 52% !important;
    left: 36% !important;
    width: 65%;
  }

  section.get-started{
    background-color: rgba(240, 247, 255, 0.44);
    padding: 1em 1.5em;
    gap: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;
    height: fit-content !important;
    margin-top: 2em;
  }

  .get-started > p{
    width: 100% !important;
    margin: 0;
  }

  .get-started > input:nth-of-type(2){
    display: none;
  }

  section.get-started > input, section.get-started > button{
    width: 29%;
    display: inline !important;
    margin: 0.5em 0;
  }

  .testimonials{
    margin-top: 5em !important;
  }

  .download-section{
    padding: 0 1em !important;
  }

  .download-section > .download-grid{
    display: unset;

  }

  .smartphone-img{
    display: none;
  }

  .download-grid > .download-grid-right-item{
    position: unset;
    margin: 1em auto;
    padding: 1em;
  }
}
/* End of media Query section */