

.home-container{
  width: 100%;
  /* position: fixed; */
}

div.hero-header{
  /* background-color: blue; */
  height: 90vh;
  width: 100%;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  background: white;
  /* padding: 0px 2em; */
  align-items: center;
}

div.text-section{
  position: relative;
  top: -5%;
  left: 5%;
  width: 90%;
  /* margin-top: 27%; */
  /* background: cyan; */
  z-index: 1;
  padding: 2em;
  border-radius: 10px;
  font-size: 1.2em;
  transition: background 500ms;
}

div.text-section:hover{
  background-color: rgba(255, 255, 255, 0.7);
}

div.text-section > button{
  border: none;
  margin: 0 1em;
  padding: 0.7em 2em;
}

div.text-section > button:nth-of-type(1){
  background: #EF387A;
  color: white
}

div.text-section > button:nth-of-type(2){
  background: whitesmoke;
  color: #341E9D
}

/* div.text-section > p{
  font;
} */

div.image-section{
  width: 100%;
  height: fit-content;
}

.image-section > .laptop-img{
  position: relative;
  top: 50 !important;
  /* float: right; */
  width: 90%;
  /* margin-top: 9%; */
}

.image-section > .tablet-img{
  position: absolute;
  /* float: right; */
  /* top: 22% !important; */
  top: 17% !important;
  right: -0%;
  width: 35%;
  margin-top: 9%;
  /* height: 50%; */
  /* object-fit: cover; */
  /* width: fit-content; */
  /* background: green; */
}

/*============ Beging Of Get-started Section ============ */
section.get-started{
  background-color: rgba(240, 247, 255, 0.44);
  padding: 1em 4em;
  gap: 1em;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  width: 100% !important;
  margin-top: 0;
}

div.get-started-container{
  display: none;
}

.get-started > input{
  height: 3em;
  padding: 0px 1em;
  /* width: 100%; */
}

.get-started > button{
  height: 3em;
  border: none;
  color: white;
  background: #EF387A;
  border-radius: 3px;
}

/*=========== Begining Of Testimonial Section ========== */
section.testimonials{
  margin-top: 3em;
  text-align: center;
  margin: 6%;
}

.testimonials > p{
  color: gray;
}

.testimonial-grid *{
  /* border: 1px solid black; */
  /* width: 100%; */
  /* overflow-x: scroll; */
  
}
.testimonial-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  width: 100%;
  overflow-x: scroll;
}
::-webkit-scrollbar{
  width: 0;
  background: transparent;
}

.testimonial-card{
  padding: 1em;
  background-color: #F8FCFF;
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto;
}

.testimonial-card > .content{
  text-align: justify;
  padding: 1em;
  font-size: 0.9em;
  color: rgb(32, 32, 32);
}

.testimonial-card > .writer{
  font-style: italic;
  font-weight: normal;
  color: rgb(75, 72, 72);
  text-align: right;
  padding: 0px 1em;
}
/*-------------- End Of Testimonial Section --------------------*/


/*============== Begining Of Download Section ================= */
section.download-section{
  width: 100%;
  /* height: 400px; */
  margin-bottom: 5em;
  /* background-color: tomato; */
}

.download-section > .download-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.smartphone-img{
  width: 100%;
  position: relative;
  top: 0;
  left: 10%;
}

.download-grid > .download-grid-right-item{
  text-align: center;
  position: relative;
  top: 20%;
  right: 0%;
  /* border: 1px solid black; */
  width: 100%;
  max-width: 500px;
}

.download-grid-right-item > .download-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center;
  justify-content: center; */
  place-items: center;
  margin-top: 2em;
}

.download-button-container > button{
  width: 80%;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.download-grid-item:nth-of-type(1){
  background: red;
}

.home-container{
  /* background-color: red; */
}


@media (max-width: 800px){
  div.hero-header{
    height: 70vh;
    width: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    /* background: whitesmoke; */
    padding: 0px 0em;
    align-items: center;
  }

  div.text-section{
    padding: 0.7em;
    font-size: 0.9em;
    margin-top: 5em;
  }

  div.text-section > button:nth-of-type(1){
    margin: 1em 0;
    padding: 0.7em 1.5em;
  }

  div.text-section > button:nth-of-type(2){
    display: none;
  }

  div.image-section{
    /* padding: 2em; */
    /* background-color: white; */
    /* height: 500px; */
  }

  .image-section > .laptop-img{
    left: -5% !important;
    width: 85%;
    margin-bottom: 3em;
    /* background-color: whitesmoke; */
    /* height: 300px !important; */
  }

  .image-section > .tablet-img{
    position: absolute;
    /* background-color: cyan; */
    top: 52% !important;
    left: 36% !important;
    width: 65%;
  }

  section.get-started{
    /* margin-top: -6em; */
    /* background-color: green; */
  }

  section.get-started *{
    /* border: 1px dotted black; */
  }

  section.get-started{
    background-color: rgba(240, 247, 255, 0.44);
    padding: 1em 1.5em;
    gap: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center !important;
    /* box-sizing: border-box; */
    /* grid-template-columns: 100% 25% 25% 25%; */
    /* grid-auto-flow: column; */
    /* wrap */
    /* grid-template-columns: 100% 25% 25% 25%; */
    /* grid-template-rows: 1fr 1fr !important; */
    /* background-color: yellow; */
    align-items: center;
    height: fit-content !important;
    margin-top: 2em;
  }

  .get-started > p{
    /* width: 100% !important; */
    /* display: block; */
    width: 100% !important;
    margin: 0;
    /* background-color: red; */
  }

  .get-started > input:nth-of-type(2){
    display: none;
    /* background-color: blue; */
  }

  section.get-started > input, section.get-started > button{
    width: 29%;
    display: inline !important;
    margin: 0.5em 0;
    /* background-color: teal; */
  }

  .testimonials{
    margin-top: 5em !important;
  }

  .download-section{
    padding: 0 1em !important;
  }

  .download-section > .download-grid{
    display: unset;

  }

  .smartphone-img{
    /* width: 150%;
    position: relative;
    top: 20%;
    left: -25%; */
    display: none;
  }

  .download-grid > .download-grid-right-item{
    position: unset;
    margin: 1em auto;
    padding: 1em;
  }
  /* div.get-started-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
}

/* @media only screen and (max-width: 900px){
  .image-section > .laptop-img{
    position: absolute;
    top: 30 !important;
    right: -15%;
    right: -10;
    transform: scale(0.7);
  }
} */